@charset "utf-8";
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
    background: #25b7ff96;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 0;
}
.finddatabox{
	padding-top: 70px;
	width: 100%;
	height: 300px;
	
	
}
.finddataboxtwo{
	padding-top: 70px;
	width: 100%;
	height: 850px;


}

.finddataconteng{
	box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
	border-radius: 6px;
	width: 800px;
	height: 200px;
background: #474A59;
margin: 0 auto;
padding: 25px;
}
.finddatacontengtwo{
	box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
	border-radius: 6px;
	width: 800px;
	height: 800px;
background: #474A59;
margin: 0 auto;
padding: 25px;
}
.finddataconteng>h3,.finddatacontengtwo>h3{
	border-left: 5px solid #ffd17b;
	text-indent: 15px;
	color: white
}
.finddatatable{
	width: 100%;
	height: 150px;
}
.finddatatabletwo{
	width: 100%;
	height: 750px;
}
.shengsehyanshe{
    background: #555866 !important;
}
.finddatatabletwo>ul{
    padding: 0;
    margin: 5px 0;
    width: 100%;
    height: 38px;
    margin: 5px 0;
    float: left;
}
.resulttwodata:hover{
   background: #62677b;
    cursor: pointer;
}
.finddatatabletwo>ul>li{
    list-style: none;
    line-height: 35px;

    height: 35px;
    text-indent: 10px;
    font-size: 14px;
    color: wheat;
    overflow: hidden;
    width: 50%;
    float: left;
}
.resulttwodata{
    height:35px ;
    width: 100%;
    padding: 0;
    float: left;
}
.resulttwodata>li{
    color: #ffe86d  !important;
    display: none;
    list-style: none;
    height: 35px;
    line-height: 35px;
    float: left;
    text-align: left;
}
.resulttwodata>li:nth-child(1){
    width: 20%;
    text-align: left;
}
.resulttwodata>li:nth-child(2){
    width: 50%;
    text-align: left;
}
.resulttwodata>li:nth-child(3){
    width: 30%;
    text-align: right;
}
.finddatatabletwo>ul>li:nth-child(1){
    width: 20%;
    text-align: left;
}
.finddatatabletwo>ul>li:nth-child(2){
    width: 50%;
    text-align: left;
}
.finddatatabletwo>ul>li:nth-child(3){
    width: 30%;
    text-align: right;
}
.finddatatable>ul{
	padding: 0;
	margin: 5px 0;
	width: 100%;
	height: 38px;
	margin: 5px 0;
	float: left;
}
.finddatatabletwodata{
    width: 100%;
    height: 550px;

    float: left;
}
.pagination ul li{
    background: #ff711b !important;
    color: white !important;
}
.pagination ul li:hover {
    background-color: #127FEC !important;
}
.pagination li.totalPage{
    background: transparent !important;
}
.finddatatabletwoTimeSelect{
    width: 100%;
    height: 50px;

    float: left;
}
.pagings{
    width: 100%;
    height: 70px;
    float: left;
}
.finddatatable>ul>li{
	list-style: none;
	line-height: 28px;
	height: 28px;
	text-indent: 10px;
	font-size: 14px;
	color: wheat;
	float: left;
	overflow: hidden;
}
.resultdata>li{
	color: #ffe86d  !important;
    display: none;
}
.finddatatable>ul>li:nth-child(1){
    width: 10%;
}
.finddatatable>ul>li:nth-child(2){
	width: 22%;
}
.finddatatable>ul>li:nth-child(3){
	width: 66%;
}
/*.finddatatable>ul>li:nth-child(4){*/
	/*width: 14%;*/
/*}*/
.finddatatable>ul>h4{
    color: #ffe86d;
    text-align: center;
}
.page {

    margin-top: 50px;
  flex-direction: column;
  height: 100%;
  position: absolute;
  place-content: center;
  
  width: 100%;
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.qdcontainer {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.qdleft {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
	  border-radius: 6px 0 0 6px;
}
@media (max-width: 767px) {
  .qdleft {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #898989;
  font-size: 17px;
  line-height: 1.5;
  margin: 40px;
}
.timeselectbox{
    float: left;
    width: 200px;
    margin-right: 20px;
}
.findtimetitles{
    float: left;
    height: 34px;
    width: 80px;
    color: #cbcbcb;
    text-align: center;
    line-height: 34px;
}
.timefindmessages{
    height: 34px;
    width: 100px;
    border-radius: 3px;
    float: right;
    color: white;
    background: #ff7915;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    text-align: center;
    line-height: 34px;
}
.timefindmessages:hover{
    cursor: pointer;
    background: #ff6a19;
}
.qdright {
  background: #474A59;
  	border-radius: 6px;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .qdright {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: #e3c9c926;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #a4a4b0;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:hover{
 cursor: pointer;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}