<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="img/bitbug_favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
		<title>云借条-大数据信息平台</title>
		<link rel="stylesheet" href="css/login.css" />
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

	</head>
	<body>
		<div id="app">
			<div class="af-page">
				<div class="page-header"><a href="#/" class="pull-left logo router-link-exact-active router-link-active"><img src="img/yjtlogo.png"></a>
					<div class="pull-right header-nav">
						<ul>
							<li class="d-relative fore1"><a href="/subscription" class="full-cover-link"></a>
								个人订阅设置
							</li>
							<li class="fore3">
								微信客服
								<div class="qrcode-box"><img src="/javaimg/ewm.png" alt="">
									<p>客服二维码</p>
								</div>
							</li>

							<a href="/outLogin" style="color: #333;">
							<li class="fore4">
								退出
							</li>
							</a>
						</ul>
					</div>
					<!---->
					<!---->
					<!---->
					<!---->
				</div>
				<div class="aside-nav" style="z-index: 999999;">
					<div class="avatar-box"><img src="http://api.jbd.melonmobile.cn/cdn/resource/usr_ico_default.png" alt="">
						<div class="username text-overflow" th:text="${lgUsername}"></div>
						<div class="user-id text-overflow"><p th:text="'Tel：'+${lgPhone}"></p></div>
						<div class="user-id text-overflow"><p th:text="'余额：'+${lgBalance}"></p></div>
					</div>
					<div class="nav"><a href="/grondstoffenlijst" class="fore1">
						<div class="line"></div>
						抢单列表
					</a>
						<!---->
						<!----> <a href="/DirectDrive" class="fore2 router-link-exact-active router-link-active">
							<div class="line"></div>
							云借条直推
						</a>
						<!----> <a href="/purchase" class="fore3">
							<div class="line"></div>
							已购的客户
						</a> <a href="/ToBuyCurrency" class="fore4">
							<div class="line"></div>
							购买生财币
						</a></div>
				</div>
				<div class="content-box">
					<div class="select-item-wrapper"><div class="select-item-nav">
						直推单 <span> &gt;&gt; </span> 申请开通
					</div></div>
					<div class="push-box" style="height: 827px;">
						<form action="" >
						<div class="apply-form"><div class="in">
							<div class="in-left">团队名称：</div>
							<div class="in-right"><input type="text" id="qdSqTeamName" placeholder="" class="text"></div>
						</div> <div class="in"><div class="in-left">日接单量：</div> <div class="in-right">
							<input type="number" id="qdSqOrderQuantity" placeholder="" class="text"></div></div> <div class="in">
							<div class="in-left">联系电话：</div> <div class="in-right"><input type="number" id="qdSqPhone" placeholder="" class="text"></div>
						</div> <div class="in"><div class="in-left"></div>
							<div class="in-right apply-submit"><a href="/DirectDriveNoDredge" class="submit-btn cancel router-link-active">取消</a>
								<div onclick="zhitiusubmit()" class="submit-btn confirm">提交</div></div></div></div>
						</form>
					</div>
				</div>
				<!---->
				<!---->
			</div>
		</div>
<script>
	function zhitiusubmit() {
		$.ajax({
			url: "/directDriveApplyFor",
			data:{"qdSqTeamName":$("#qdSqTeamName").val(),"qdSqOrderQuantity":$("#qdSqOrderQuantity").val(),"qdSqPhone":$("#qdSqPhone").val()},
			type: "post",
			dataType: "json",
			success: function (result) {
				if (result.code==0){
					$(location).prop('href', '/grondstoffenlijst')
				}
				if (result.code==1){
					alert(result.message)
				}

			},
			error: function (result) {
				console.log("error----");
			}
		})
	}
</script>

	</body>
</html>
