<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="keywords" content="">
		<link rel="icon" href="img/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
		<meta name="description" content="">
		<link rel="icon" type="image/ico" href="favicon.ico">
		<title>云借条-大数据信息平台</title>
		<!--<script src="js/public.js"></script>-->

		<link rel="stylesheet" href="css/public.css">
		<link rel="stylesheet" href="css/ion.rangeSlider.css">
		<link rel="stylesheet" href="css/index.css">
		<style>
			.visibilityHiden{
	        visibility: hidden;
	    }
	</style>
		<link href="css/login.css" rel="stylesheet">
	</head>
	<body>
		<div id="app">
			<div class="af-page">
				<div class="page-header">
					<div class="container"><a href="javascript:;" class="pull-left logo"><img src="img/yjtlogo.png" alt=""></a>
						</div>
					<!---->
					<!---->
				</div>
				<div class="subscribe-wrapper onesubscription">
					<div class="sub-title text-center">订阅目标客户</div>
					<div class="subscribe-step">


						<!-- 主内容区 -->
						<div class="bigBox" style="margin-top: 50px;">
							<!-- 导航栏 -->
							<div class="navBigBox ">
								<div class="navBox clearfix">


									<!--&lt;!&ndash; 左右滑动 &ndash;&gt;-->
									<!--<div class="moveBox">-->
										<!--<div class="moveTitle clearfix">-->
											<!--<p class="fl">芝麻分(分)-->
											<!--</p>-->
											<!--<p class="changeNum bxyc1 fr"></p>-->
										<!--</div>-->
										<!--<div class="moveContent">-->
											<!--<input type="text" value="1111" class="range_1" />-->

										<!--</div>-->
									<!--</div>-->

									<!-- 左右滑动 -->
									<div class="moveBox">
										<div class="moveTitle clearfix">
											<p class="fl">年龄(岁)
											</p>
											<p class="changeNum bxyc2 fr"></p>
										</div>
										<div class="moveContent">
											<input type="text" value="1111" class="range_2" />

										</div>
									</div>


									<!-- 左右滑动 -->
									<div class="moveBox">
										<div class="moveTitle clearfix">
											<p class="fl">金额(元)</p>
											<p class="changeNum bxyc3 fr"></p>
										</div>
										<div class="moveContent">
											<input type="text" value="1111" class="range_3" />

										</div>
									</div>
									<!-- 确定 -->

								</div>
							</div>
						</div>
					</div>
					<div class="w100 next-step"><button class="oneNextStep">下一步</button></div>
				</div>
				<!---->
				<div class="subscribe-wrapper twosubscription">
					<div class="w100 subscribe-step">
						<div class="sub-title text-center">订阅目标客户</div>
						<div class="w100 sub-level">
							<div class="sl-title">人寿保单</div>
							<div class="sl-item-list">
								<div value="0" class="sl-item insure active">无要求</div>
								<div value="1" class="sl-item insure">有保单</div>
								<div value="2" class="sl-item insure">无保单</div>
							</div>
						</div>
						<div class="w100 sub-level">
							<div class="sl-title">信用卡</div>
							<div class="sl-item-list">
								<div value="0" class="sl-item card active">无要求</div>
								<div value="1" class="sl-item card">有信用卡</div>
								<div value="2" class="sl-item card">无信用卡</div>
							</div>
						</div>
						<div class="w100 sub-level">
							<div class="sl-title">文化程度</div>
							<div class="sl-item-list">
								<div value="0" class="sl-item edu active">无要求</div>
								<div value="1" class="sl-item edu">专科及以上</div>
								<div value="2" class="sl-item edu">本科及以上</div>
							</div>
						</div>
						<div class="w100 sub-level">
							<div class="sl-title">社保公积金房车</div>
							<div class="sl-item-list">
								<div value="1" class="sl-item car active" >无要求</div>
								<div value="2" class="sl-item car">有一即可</div>
								<div value="3" class="sl-item car">必有公积金</div>
								<div value="4" class="sl-item car">只看车产</div>
								<div value="5" class="sl-item car">只看房产</div>
								<div value="6" class="sl-item car">社公齐全</div>
								<div value="7" class="sl-item car">房车都有</div>
								<div value="8" class="sl-item car">全部需要</div>
							</div>
						</div>
						<div class="w100 next-step"><button class="twoNextStep">下一步</button></div>
					</div>
				</div>
				<!---->
				<div class="subscribe-wrapper threesubscription">
					<div class="w100 subscribe-step">
						<div class="sub-title text-center">订阅目标客户</div>
						<h2 id="cityxhuanzhe">城市选择 - 全国</h2>
						<div class="w100 sub-level" id="cityminboxtopssss">
						</div>
						<div class="w100 next-step"><button class="subscriptionSubmit">完成</button></div>
					</div>
				</div>
			</div>
		</div>
		</div>

		<script src="js/jquery-1.7.2.min.js"></script>
		<script src="js/ion.rangeSlider.js"></script>
		<script src="js/index.js"></script>

	</body>
</html>
